$logo: "Fascinate Inline", cursive;
$title: "Crete Round", serif;
$firstPage: "Anton", sans-serif;

//back card additional styles

$background-card: linear-gradient(to bottom, #edf1f7, #e7f1f9, #e1f2f9, #ebf7fa, #c5dfdd);

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// center align back card
.flippy-cardContainer {
  width: 100%;
  .flippy-back {
    position: absolute;
    top: 0;
    left: 15%;
    background: $background-card;
  }
}

.flippy-container {
  padding: 10px 0;

  .flippy-card {
    border-radius: 15px;
    width: 70%;
    margin: auto;

    .img {
      width: 80%;
      border-radius: 10px;
      position: relative;
      left: -80px;
      box-shadow: -2px 0px 16px -4px rgba(0, 0, 0, 0.75);
    }
    .title-container {
      position: relative;
      top: 40%;
      transform: translateY(-50%);

      p,
      h1 {
        text-align: center;
      }

      .brake {
        width: 50%;
      }
    }
  }
}
//additional mobile adjustments
@media only screen and (max-width: 1070px) {
  .flippy-container {
    .flippy-card {
      width: 90%;

      .img {
        width: 100%;
        position: relative;
        left: 0;
      }
    }
  }

  #root {
    .search-title {
      font-size: 44px;
    }
    .search-form {
      width: 80%;
    }
  }
  .title-container {
    h1 {
      font-size: 2.5rem;
    }
  }
}
.details-section {
  display: flex;
  justify-content: center;
  h3 {
    color: white;
    font-family: $title;
    font-weight: bold;
    font-size: 30px;
  }
  .details-cont {
    li {
      color: white;
      font-family: $title;
      list-style: none;
      display: inline-block;
      padding: 5px;
    }
  }
}

.flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive:not(.istouchdevice) .flippy-back,
.flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive.istouchdevice .flippy-back {
  transform: rotateX(0deg);
  position: unset;
  margin-top: -250px;
}
@media only screen and (max-width: 1130px) {
  .flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive:not(.istouchdevice) .flippy-back,
  .flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive.istouchdevice .flippy-back {
    transform: rotateX(0deg);
    position: unset;
    margin-top: -270px;
  }
}

@media only screen and (max-width: 800px) {
  .flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive:not(.istouchdevice) .flippy-back,
  .flippy-cardContainer-wrapper.vertical .flippy-cardContainer.isActive.istouchdevice .flippy-back {
    transform: rotateX(0deg);
    position: unset;
    margin-top: -590px;
  }
}

//Search form
.search-form {
  width: 60%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  .search-bar {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  .search-button {
    margin-top: 20px;
    padding: 15px 40px;
    color: black;
    font-weight: bold;
    &:hover {
      color: white;
    }
  }
}

//backside of cards design
.basic-info {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  p {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background: rgb(54, 52, 52);
  }
}
//search title
.search-title {
  text-align: center;
  padding: 40px 0 0 0;
  font-family: $title;
  font-size: 63px;
  font-weight: bold;
  text-shadow: 2px 2px 3px #a9a9a9;
}

//Error page
.error-cont {
  .error-image {
    img {
      width: 100%;
      border-radius: 25px;
      padding: 20px;
    }
  }
  h2 {
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

//big change
.bigCont {
  margin-top: 150px;
  border-radius: 10px;
  background: rgba(153, 152, 152, 0.623);
  box-shadow: -1px 10px 24px -9px rgba(0, 0, 0, 0.75);
  .title-back {
    margin: 0 auto;
    h1 {
      padding: 5px;
      color: white;
      font-weight: bold;
      font-family: $title;
    }
  }
  .servings {
    p {
      display: inline-block;
      padding-left: 25px;
      color: white;
      font-size: 20px;
      font-family: $title;
    }
  }
  .dietLabel {
    .dietLb {
      display: inline-block;
      border-radius: 10px;
      padding: 10px;
      margin-left: 25px;
      color: white;
      font-family: $title;
      background: #363434;
    }
  }
  .ingredients {
    h3 {
      font-size: 30px;
      font-weight: bold;
      font-family: $title;
    }
    width: 50%;
    margin-left: 20px;
    color: white;
    font-family: $title;
  }
}
@media only screen and (max-width: 640px) {
  .bigCont {
    .title-back {
      h1 {
        font-size: 45px;
      }
    }
    .ingredients {
      width: 100%;
      margin-left: 0;
    }
    .basic-info{
      flex-direction: column;
    }
  }
}
