$logo: "Fascinate Inline", cursive;
$title: "Crete Round", serif;
$firstPage: "Anton", sans-serif;
$button-color: #f0b129;
$button-color-hover: #f0b129;

html,
body {
  scroll-behavior: smooth;
}

.btn {
  background: $button-color !important;
  color: black;
  font-weight: bold;
  &:hover {
    background: $button-color-hover;
    color: white;
    font-weight: bold;
    box-shadow: 2px 1px 25px -4px rgba(235, 196, 89, 1) !important;
  }
}
.form-control {
  background-image: linear-gradient(to top, $button-color 2px, rgba(156, 39, 176, 0) 2px),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}
//vertical align
.vert-aling {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//scrollbar

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@mixin background-img($image, $height: 80vh) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: $height;
}

.intro-bg {
  height: auto;
  #myVideo {
    width: 100%;
  }
  .titleFirst {
    font-family: $firstPage;
    font-size: 6vw;
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 13px rgba(4, 4, 4, 0.6);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  @media only screen and (max-width: 575px) {
    .titleFirst {
      position: absolute;
      top: 55%;
      left: 50%;
    }
  }
}
.brand {
  font-family: $logo;
  font-size: 30px !important;
}
.nav-right {
  a {
    font-size: 14px !important;
    font-family: $title;
    cursor: pointer;
  }
}

//subscribe section
.subscribe-section {
  margin-top: 150px;
  .subscribe-img {
    @include background-img("../images/hands-731265_1920 (1).jpg", 70vh);
    border-radius: 5px;

    .outer-form {
      background: rgba(194, 193, 193, 0.767);
      height: 40vh;
      width: 70%;
      box-shadow: -2px 36px 100px -32px rgba(37, 36, 36, 0.75);
      border-radius: 5px;
      @extend .vert-aling;
      h3 {
        font-family: $firstPage;
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
      }

      p {
        text-align: center;
        padding-top: 10px;
      }
    }

    .txt-input {
      width: 100%;
      padding: 25px 35px;
      border-radius: 25px;
      display: inline-block;
      &::placeholder {
        color: #505050;
      }
    }
    .inner-form {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

//footer
footer {
  margin-top: 150px;
  h1 {
    font-family: $logo;
  }

  .footer-text,
  .footer-social {
    padding: 15px;

    li {
      list-style: none;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color: black;
    }
    h3 {
      font-family: $title;
      font-weight: bold;
    }
  }
  .footer-text {
    text-align: left;
  }

  .btn-footer {
    margin-bottom: 6px;
  }
  .sc {
    font-size: 40px;
  }
}

.footer-chess-menu {
  margin-top: 90px;
  .cont {
    background: rgb(219, 214, 214);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    a {
      span {
        font-family: $title;
        color: black;
        font-size: 20px;
      }
    }
  }
  div {
    height: 15vh;
  }
}
//remove extra white div
@media only screen and (max-width: 575px) {
  .rm {
    display: none;
  }
}

//Search form edit
.recipe-search-form {
  margin-top: 150px;
  #search-input {
    display: inline-block;
    padding: 20px 0;
    margin: 20px 0;
    font-size: 40px;
  }
  #btn-search {
    display: inline-block;
    margin: 0 auto;
    padding: 15px 40px;
  }
}
.recipe-result-container {
  margin-top: 150px;
  padding-bottom: 150px;
}

// services gallery section
#services-gallery {
  margin-bottom: 150px;
  margin-top: 150px;
  .title-gallery {
    text-align: right;
    font-family: $firstPage;
    color: #686666;
    text-shadow: 2px 2px 3px #a9a9a9;

    font-size: 50px;
  }
  .row-custom {
    height: 100vh;
    background: linear-gradient(to left, #686666 50%, #eeeeee 50%);
    .img-cont {
      img {
        width: 95%;
        border-radius: 5px;
        box-shadow: -1px 3px 5px 1px rgba(110, 110, 110, 1);
      }
    }

    .i-c-1 {
      img {
        position: absolute;
        top: 0px;
        bottom: 160px;
        margin: auto;
      }
    }
    .i-c-2 {
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    .i-c-3 {
      img {
        position: absolute;
        top: 160px;
        bottom: 0;
        margin: auto;
      }
    }
  }

  .col-custom-text {
    padding: 10px;
    background: #686666;
    .text-container {
      border: 5px solid #eee;
      padding: 20px;
      color: white;
      p::first-letter {
        float: left;
        font-size: 5em;
        margin: 0.1em 0.2em 0.2em 0;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  #services-gallery {
    .row-custom {
      .i-c-1,
      .i-c-2,
      .i-c-3 {
        img {
          position: static;
          width: 100%;
          margin: 10px auto;
        }
      }
    }
  }
  .row-text {
    margin-top: 200px;
  }
}
//about us section
#about-us {
  margin-top: 250px;
  margin-bottom: 350px;
  height: 80vh !important;
  opacity: 0.8;
  @include background-img("../images/ddp-CTtnaHiLvIA-unsplash (1).jpg");

  .au-text {
    margin-top: 90px;
    margin-left: auto;
    margin-right: 20px;
    background: grey;
    padding: 20px 40px;
    opacity: 0.8;
    box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow: hidden;

    p {
      text-align: center;
      color: white;
      font-size: 19px;
      font-weight: 400;
    }
    .au-line {
      background: white;
      width: 50%;
    }
  }
  .ab-title {
    height: 40vh;
    background: gray;
    border-radius: 5px;
    opacity: 0.8;
    margin-top: -70px;
    margin-left: 80px;
    box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 122px;
      color: white;
      font-family: $title;
      text-shadow: 2px 2px 3px #a9a9a9;
      font-weight: bold;
      padding: 10px 10px 0 15px;
    }
  }
}
//additional mobile adjustments for static components
@media only screen and (max-width: 999px) {
  .subscribe-section{
    margin-top: 500px;
  }
}
@media only screen and (max-width: 767px) {
  #about-us {
    margin-bottom: 550px;
    .au-text {
      margin-top: 290px;
      margin-right: 0;
    }
    .ab-title {
      height: 30vh;
    }
  }
  #services-gallery {
    padding-top: 100px;
  }
  .subscribe-section {
    margin-top: 350px;
    .subscribe-img {
      .outer-form {
        width: 95%;

        p {
          padding: 5px;
        }
      }
      .inner-form {
        width: 85%;
      }
    }
  }
}

//contact us
#contact-us {
  margin-top: 150px;
  .cu-left {
    padding: 0;
    .map {
      height: 100%;
      width: 100%;
    }
  }
  .cu-right {
    padding: 0 15px;
    h2 {
      font-size: 80px;
      letter-spacing: 1px;
      font-family: $firstPage;
      text-shadow: 2px 2px 3px #a9a9a9;
    }
    i {
      display: inline-block;
      padding: 5px;
      margin: 5px;

      a {
        color: black;
      }
    }
    .about-us-form {
      padding: 0 10px;
      .au-text-input,
      .au-email-input,
      .au-textarea {
        margin: 20px 0;
      }
    }
    p {
      text-align: right;
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 767px) {
  #contact-us {
    .cu-right {
      h2 {
        margin: 40px 0;
        text-align: center;
        font-family: $firstPage;
        font-size: 60px;
      }
      button {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
//5picture gallery section

#siteInfo-gallery-section {
  margin-top: 150px;
  background: #eee;

  .row-gallery {
    padding: 30px 0;
    display: flex;

    justify-content: center;
    .single-container-img {
      text-align: center;
      .text-pic {
        margin-top: 60px;
        overflow: hidden;
        span {
          font-family: $title;
          margin-top: 30px;
          padding: 10px;
          font-size: 70px;
        }
        p:last-child {
          font-family: $title;
          font-size: 14px;
          color: rgb(255, 169, 8);
        }
      }

      .img-row {
        img {
          width: 100%;
          border-radius: 15px;
          box-shadow: -2px 0px 8px 0px rgba(128, 125, 128, 1);
        }
      }
    }
  }
}
