html,
body {
  scroll-behavior: smooth;
}

.btn {
  background: #f0b129 !important;
  color: black;
  font-weight: bold;
}

.btn:hover {
  background: #f0b129;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: 2px 1px 25px -4px #ebc459 !important;
          box-shadow: 2px 1px 25px -4px #ebc459 !important;
}

.form-control {
  background-image: linear-gradient(to top, #f0b129 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}

.vert-aling, .subscribe-section .subscribe-img .outer-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.intro-bg {
  height: auto;
}

.intro-bg #myVideo {
  width: 100%;
}

.intro-bg .titleFirst {
  font-family: "Anton", sans-serif;
  font-size: 6vw;
  position: absolute;
  color: white;
  text-shadow: 1px 3px 13px rgba(4, 4, 4, 0.6);
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

@media only screen and (max-width: 575px) {
  .intro-bg .titleFirst {
    position: absolute;
    top: 55%;
    left: 50%;
  }
}

.brand {
  font-family: "Fascinate Inline", cursive;
  font-size: 30px !important;
}

.nav-right a {
  font-size: 14px !important;
  font-family: "Crete Round", serif;
  cursor: pointer;
}

.subscribe-section {
  margin-top: 150px;
}

.subscribe-section .subscribe-img {
  background-image: url("../images/hands-731265_1920 (1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  border-radius: 5px;
}

.subscribe-section .subscribe-img .outer-form {
  background: rgba(194, 193, 193, 0.767);
  height: 40vh;
  width: 70%;
  -webkit-box-shadow: -2px 36px 100px -32px rgba(37, 36, 36, 0.75);
          box-shadow: -2px 36px 100px -32px rgba(37, 36, 36, 0.75);
  border-radius: 5px;
}

.subscribe-section .subscribe-img .outer-form h3 {
  font-family: "Anton", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.subscribe-section .subscribe-img .outer-form p {
  text-align: center;
  padding-top: 10px;
}

.subscribe-section .subscribe-img .txt-input {
  width: 100%;
  padding: 25px 35px;
  border-radius: 25px;
  display: inline-block;
}

.subscribe-section .subscribe-img .txt-input::-webkit-input-placeholder {
  color: #505050;
}

.subscribe-section .subscribe-img .txt-input:-ms-input-placeholder {
  color: #505050;
}

.subscribe-section .subscribe-img .txt-input::-ms-input-placeholder {
  color: #505050;
}

.subscribe-section .subscribe-img .txt-input::placeholder {
  color: #505050;
}

.subscribe-section .subscribe-img .inner-form {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer {
  margin-top: 150px;
}

footer h1 {
  font-family: "Fascinate Inline", cursive;
}

footer .footer-text,
footer .footer-social {
  padding: 15px;
}

footer .footer-text li,
footer .footer-social li {
  list-style: none;
  text-decoration: none;
}

footer .footer-text a,
footer .footer-social a {
  text-decoration: none;
  color: black;
}

footer .footer-text h3,
footer .footer-social h3 {
  font-family: "Crete Round", serif;
  font-weight: bold;
}

footer .footer-text {
  text-align: left;
}

footer .btn-footer {
  margin-bottom: 6px;
}

footer .sc {
  font-size: 40px;
}

.footer-chess-menu {
  margin-top: 90px;
}

.footer-chess-menu .cont {
  background: #dbd6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-chess-menu .cont a span {
  font-family: "Crete Round", serif;
  color: black;
  font-size: 20px;
}

.footer-chess-menu div {
  height: 15vh;
}

@media only screen and (max-width: 575px) {
  .rm {
    display: none;
  }
}

.recipe-search-form {
  margin-top: 150px;
}

.recipe-search-form #search-input {
  display: inline-block;
  padding: 20px 0;
  margin: 20px 0;
  font-size: 40px;
}

.recipe-search-form #btn-search {
  display: inline-block;
  margin: 0 auto;
  padding: 15px 40px;
}

.recipe-result-container {
  margin-top: 150px;
  padding-bottom: 150px;
}

#services-gallery {
  margin-bottom: 150px;
  margin-top: 150px;
}

#services-gallery .title-gallery {
  text-align: right;
  font-family: "Anton", sans-serif;
  color: #686666;
  text-shadow: 2px 2px 3px #a9a9a9;
  font-size: 50px;
}

#services-gallery .row-custom {
  height: 100vh;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #686666), color-stop(50%, #eeeeee));
  background: linear-gradient(to left, #686666 50%, #eeeeee 50%);
}

#services-gallery .row-custom .img-cont img {
  width: 95%;
  border-radius: 5px;
  -webkit-box-shadow: -1px 3px 5px 1px #6e6e6e;
          box-shadow: -1px 3px 5px 1px #6e6e6e;
}

#services-gallery .row-custom .i-c-1 img {
  position: absolute;
  top: 0px;
  bottom: 160px;
  margin: auto;
}

#services-gallery .row-custom .i-c-2 img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#services-gallery .row-custom .i-c-3 img {
  position: absolute;
  top: 160px;
  bottom: 0;
  margin: auto;
}

#services-gallery .col-custom-text {
  padding: 10px;
  background: #686666;
}

#services-gallery .col-custom-text .text-container {
  border: 5px solid #eee;
  padding: 20px;
  color: white;
}

#services-gallery .col-custom-text .text-container p::first-letter {
  float: left;
  font-size: 5em;
  margin: 0.1em 0.2em 0.2em 0;
}

@media only screen and (max-width: 999px) {
  #services-gallery .row-custom .i-c-1 img,
  #services-gallery .row-custom .i-c-2 img,
  #services-gallery .row-custom .i-c-3 img {
    position: static;
    width: 100%;
    margin: 10px auto;
  }
  .row-text {
    margin-top: 200px;
  }
}

#about-us {
  margin-top: 250px;
  margin-bottom: 350px;
  height: 80vh !important;
  opacity: 0.8;
  background-image: url("../images/ddp-CTtnaHiLvIA-unsplash (1).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
}

#about-us .au-text {
  margin-top: 90px;
  margin-left: auto;
  margin-right: 20px;
  background: grey;
  padding: 20px 40px;
  opacity: 0.8;
  -webkit-box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  overflow: hidden;
}

#about-us .au-text p {
  text-align: center;
  color: white;
  font-size: 19px;
  font-weight: 400;
}

#about-us .au-text .au-line {
  background: white;
  width: 50%;
}

#about-us .ab-title {
  height: 40vh;
  background: gray;
  border-radius: 5px;
  opacity: 0.8;
  margin-top: -70px;
  margin-left: 80px;
  -webkit-box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 6px 10px -3px rgba(0, 0, 0, 0.75);
}

#about-us .ab-title h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 122px;
  color: white;
  font-family: "Crete Round", serif;
  text-shadow: 2px 2px 3px #a9a9a9;
  font-weight: bold;
  padding: 10px 10px 0 15px;
}

@media only screen and (max-width: 999px) {
  .subscribe-section {
    margin-top: 500px;
  }
}

@media only screen and (max-width: 767px) {
  #about-us {
    margin-bottom: 550px;
  }
  #about-us .au-text {
    margin-top: 290px;
    margin-right: 0;
  }
  #about-us .ab-title {
    height: 30vh;
  }
  #services-gallery {
    padding-top: 100px;
  }
  .subscribe-section {
    margin-top: 350px;
  }
  .subscribe-section .subscribe-img .outer-form {
    width: 95%;
  }
  .subscribe-section .subscribe-img .outer-form p {
    padding: 5px;
  }
  .subscribe-section .subscribe-img .inner-form {
    width: 85%;
  }
}

#contact-us {
  margin-top: 150px;
}

#contact-us .cu-left {
  padding: 0;
}

#contact-us .cu-left .map {
  height: 100%;
  width: 100%;
}

#contact-us .cu-right {
  padding: 0 15px;
}

#contact-us .cu-right h2 {
  font-size: 80px;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
  text-shadow: 2px 2px 3px #a9a9a9;
}

#contact-us .cu-right i {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

#contact-us .cu-right i a {
  color: black;
}

#contact-us .cu-right .about-us-form {
  padding: 0 10px;
}

#contact-us .cu-right .about-us-form .au-text-input,
#contact-us .cu-right .about-us-form .au-email-input,
#contact-us .cu-right .about-us-form .au-textarea {
  margin: 20px 0;
}

#contact-us .cu-right p {
  text-align: right;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #contact-us .cu-right h2 {
    margin: 40px 0;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 60px;
  }
  #contact-us .cu-right button {
    display: block;
    margin: 0 auto;
  }
}

#siteInfo-gallery-section {
  margin-top: 150px;
  background: #eee;
}

#siteInfo-gallery-section .row-gallery {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#siteInfo-gallery-section .row-gallery .single-container-img {
  text-align: center;
}

#siteInfo-gallery-section .row-gallery .single-container-img .text-pic {
  margin-top: 60px;
  overflow: hidden;
}

#siteInfo-gallery-section .row-gallery .single-container-img .text-pic span {
  font-family: "Crete Round", serif;
  margin-top: 30px;
  padding: 10px;
  font-size: 70px;
}

#siteInfo-gallery-section .row-gallery .single-container-img .text-pic p:last-child {
  font-family: "Crete Round", serif;
  font-size: 14px;
  color: #ffa908;
}

#siteInfo-gallery-section .row-gallery .single-container-img .img-row img {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: -2px 0px 8px 0px #807d80;
          box-shadow: -2px 0px 8px 0px #807d80;
}
/*# sourceMappingURL=style.css.map */